/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/11/2019, 10:15:58
    Author     : andersondepaula
*/

.alert{
    font-size: 20px;
    font-weight: bold;
}

footer{
    color: #000;
    padding-top: 6px;
    padding-bottom: 6px;
}

section{
    margin-top: 40px;
}

.area{
    margin-top: 80px;
    margin-bottom: 80px;
}

.title{
    font-weight: bold;
    text-align: center;
}

.modal-header, .modal-footer{
    background-color: rgba(40,167,59,0.6);
}
