/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/01/2020, 23:50:40
    Author     : anderson
*/
body{
    background-color: rgb(18,94,18);
}

.hist-part-1{
    background-color: rgb(24,127,24);
}
.hist-part-2{
    background-color: rgb(27,143,27);
}
.hist-part-3{
    background-color: rgb(31,160,31);
}

.texto{
    padding: 30px;
}

.texto p{
    color: rgb(255,255,255);
    font-family: cursive;
}

.hist-img{
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
}