/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/01/2020, 01:07:27
    Author     : anderson
*/

body{
    background-color: rgb(18,94,18);
}

.mapa{
    padding: 0;
}
.info-endereco{
    background-color: rgb(24,127,24);
}
.info-entrada{
    background-color: rgb(27,143,27);
}
.info-isencao{
    background-color: rgb(31,160,31);
}
.info-horario{
    background-color: rgb(34,176,34);
}

.texto{
    padding: 30px;
}

.texto p, b, li, footer{
    color: rgb(255,255,255);
}
